<div class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="title is-2">
        <%= @kitten.name + " profile" %>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <%= link_to "Edit", edit_kitten_path(@kitten), class: "button is-primary" %>
    </div>
    <div class="level-item">
      <%= link_to "Delete", @kitten, method: :delete, class: "button is-danger" %>
    </div>
  </div>
</div>
<div class="block">
  <%= "Age: " + @kitten.age.to_s %>
</div>
<div class="block">
  <%= "Cuteness: " + @kitten.cuteness %>
</div>
<div class="block">
  <%= "Softness: " + @kitten.softness %>
</div>
<%= link_to "Back to home page", root_path, class: "button is-info" %>